.form{
    //padding: .5rem 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;

    border: 3px dashed rgb(15, 189, 30);
    margin-bottom: 1rem;

    h2{
        margin-bottom: .5rem;
        color: rgb(16, 13, 212);
    }

    .buttons
    {
        padding: 1rem 0rem;        
    }
}

.form2{
    padding: .5rem 1rem;
    border: 3px dashed rgb(189, 15, 166);
    margin-bottom: 1rem;
}
